{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/cart.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" crossorigin="anonymous" />

  </head>
  <body>
    <header>
      <h1>{% block name %}{% endblock %}</h1>
      <a href="{% url 'index' %}"><button>Home</button></a>
      <a href="{% url 'cart' %}"><button>Cart ({{ cart_list | length }})</button></a>
    </header>
    <section class="products">
        {% block content %}{% endblock %}
    </section>


    <footer>
        <p>&copy; Design by Sevo and ChatGPT 2023</p>
      </footer>
    </body>
  </html>