{% extends 'main/base.html' %}

{% block title %}Shop products page{% endblock %}

{% block name %}Sholy{% endblock %}

{% block content %}
        {% for i in shoes %}
            <div class="product">
                <img src="{{ i.img.url }}" alt="Product 1" />
                <h2>{{ i.name }}</h2>
                <p>${{i.price }}</p>
                <form action="{% url 'cart' %}" method="post">
                    {% csrf_token %}
                    <button name="id" value="{{ i.id }}">Add to Cart</button>
                </form>
            </div>
        {% endfor %}
{% endblock %}
    
